
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Inicio de Sesion</title>
</head>
<body>
    <div class="container mt-2 text-center">
        <h1 class="bg-danger text-white pb-3 pt-3">¡Bienvenido al Inicio de Sesion de Apex Forum!</h1>
    </div>
    <% if(error_msg.length>0){%>
        <%-include('alerts/warning.ejs');-%>
      <%}%>
        <div id="logincard" class="container d-flex justify-content-center mt-2">
        <div class="card"  style="width: 30rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/70/User_icon_BLACK-01.png" class="card-img-top bg-danger"
                alt="...">
            <div class="card-body">
                <h2 class="card-title text-center"><strong>Iniciar Sesion</strong></h2>
            </div>
            <ul class="list-group list-group-flush">
                <form action="/auth" method="POST">
                    <li class="list-group-item"> <input type="text" class=" form-control" name="email" id="email"
                            placeholder="Correo Electronico"></li>
                    <li class="list-group-item"> <input type="password" class=" form-control" name="password" id="password"
                            placeholder="Contraseña"></li>
            </ul>
            <div class="card-body bg-dark">
                <button type="submit" class="btn btn-outline-danger text-white btn-block"> <strong> Entrar </strong></button>
                <div class="row  mt-2">
                    <div class="col">
                        <p class="text-center text-white"><strong>¿No esta Registrado?</strong></p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col">
                        <a href="/" class="btn mt-1 btn-outline-danger  btn-block"><strong>Volver a Inicio</strong> </a>
                        
                    </div>
                    <div class="col">
                        <a href="/forum" class="btn mt-1 btn-outline-danger btn-block"><strong>Volver al Foro</strong> </a>
                    </div>                 
                </div>     
            </div>
            </form>
        </div>
    </div> 
</body>
</html>
