<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<br>
<div class="container d-flex justify-content-center mt-5 mb-5">
    <div class="card" style="width: 40rem;">
        <div class="card-body">
          <h5 class="card-title text-center"> <strong>Modificar noticia</strong> </h5>
          <p class="card-text">
              <form action="/updatenew/<%=data.idnoticia%>"  method="POST">
                <div class="form-group">
                    <input id="titulo" type="text" value="<%=data.titulo%>" name="titulo" placeholder="Titulo" class="form-control" min="0" required >
                </div>
                <div class="form-group">
                    <input id="contenido" type="text" value="<%=data.contenido%>" name="contenido" placeholder="Contenido" class="form-control" min="0" required >
                </div>

                <div class="form-group">
                    <input id="imagen" type="text" value="<%=data.imagen%>" name="imagen" placeholder="URL de la Imagen" class="form-control" min="0" required >
                </div>
                <div class="form-group">
                    <input id="fuente" type="text"  value="<%=data.fuente%>"name="fuente" placeholder="Fuente" class="form-control" min="0" required >
                </div>
                <label for="Color">Color del Card</label>
                <div class="form-group">                
                        <select name="color" value="<%=data.color%>" placeholder="Color" class="form-control" required>
                            <option value="bg-primary text-white">Azul</option>
                            <option value="bg-dark text-white">Negro</option>
                            <option value="bg-danger text-white">Rojo</option>
                          </select> 
                </div> 
                <label for="btncolor">Color del boton</label>
                    <div class="form-group">                
                            <select name="btncolor" value="<%data.btncolor%>" placeholder="Color boton" class="form-control" required>
                                <option value="btn-primary ">Azul</option>
                                <option value="btn-dark">Negro</option>
                                <option value="btn-danger">Rojo</option>
                                <option value="btn-warning">Amarillo</option>
                              </select> 
                    </div> 
                <button class="btn btn-outline-danger btn-block" type="submit"> <strong>Guardar modificacion</strong></button>
                <a href="/news" class="btn btn-outline-danger btn-block">Cancelar</a>
              </form>
        </div>
      </div>
</div>

