<%-include('adminpartials/_header.ejs');-%>
<hr>
<div class="container mt-5 d-flex justify-content-center">
  <div class="card w-100 bg-dark" style="width: 18rem;">      
      <div class="card-body ">
          <form class="form" action="/newssearch" method="POST">
              <div class="row">
                  <div class="col col-lg-11 col-xl-11 col-md-10 col-sm-10 col-10">
                      <div class="form-group">
                          <input  id="buscar" name="buscar" class="form-control" placeholder="Buscar noticias por titulo" >
                      </div>
                  </div>
                  <div class="col col-lg-1 col-xl-1 col-sm-2 col-2">
                      <button class="btn btn-outline-danger btn-block text-center" type="submit"><i class="fas fa-search"></i></button>
                  </div>
              </div>
          </form>        
      </div>
    </div>
</div>

<div class="container mt-2 d-flex justify-content-center">
  <h1><strong>Publicacion de Noticias</strong></h1>
</div>
<div class="container mt-2 mb-5 ">
  <div class="row">
      <div class="col">
          <button type="button" class="btn mb-3 bg-dark text-white btn-outline-dark btn-block" data-toggle="modal" data-target="#addnew">
             <strong>PUBLICAR UNA NUEVA NOTICIA</strong> 
            </button>
            <% if(success_msg.length>0){%>
              <%-include('alerts/success.ejs');-%>
            <%}%>
      </div>
  </div>
</div>
    <div class="container text-center">
        <h1> <strong>Noticias Publicadas</strong></h1>
    </div>
    <div class="container mt-5 justify-content-center">     
                <div class="row row-cols-xl-10 row-cols-lg-6 row-cols-sm-2 row-cols-md-4">
                    <!--Begin card--> 
                    <% if(data.length>0){ %>
                        <!--the for cicle must starts over the column-->
                        <% for(var i = 0; i < data.length; i++){ %>         
                    <div class="col mb-3">                    
                       <div class="card h-100 mb-5  <%=data[i].color%>" style="width: 18rem;">
                           <img src="<%=data[i].imagen%>" class="card-img-top" alt="...">
                           <div class="card-body d-flex flex-column">
                             <h5 class="card-title text-center"><%=data[i].titulo%></h5>
                             <p class="card-text text-justify"><%=data[i].contenido%></p>
                             <div class="d-grid gap-2">
                               <a href="<%=data[i].fuente%>" target="_blank" class="btn <%=data[i].btncolor%> btn-block">Leer nota</a>
                             </div>   
                             <div class="d-grid gap-2">
                                <a href="/updatenew/<%=data[i].idnoticia%>"  class="btn mt-1 btn-primary btn-block">Editar Nota</a>
                              </div>   
                              <button type="button" style="margin-top: auto;" class="btn btn-warning btn-block mt-1 mb-1"  data-toggle="modal" data-target="#deletenew<%=data[i].idnoticia%>">
                                Eliminar
                              </button>   
                                    
                           </div>                        
                         </div>   
                         <!--Delete modal-->
               <div id="deletenew<%=data[i].idnoticia %>" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title text-center">Eliminar Noticia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <!--<a href="/news" class="close" >
                        <span aria-hidden="true">&times;</span>
                    </a>   -->
                    </div>
                    <div class="modal-body">
                        <div class="container mb-3 text-center">
                            <strong> ¿Estas seguro de eliminar la noticia "<%= data[i].titulo %>"?<br>
                            </strong>  
                        </div> 
                        <a href="/deletenew/<%=data[i].idnoticia %>" class="btn btn-block btn-warning mb-2">Si, eliminar<a>
                          <button type="button" class="btn btn-block btn-primary" data-dismiss="modal">Cancelar</button>
                    </div>
                    </div>
                </div>
            </div>
        <!--/Delete modal-->                     
                </div>          
                <!--and the last div of the column must be inside the for to generate al possible cards-->
            <%}%>   
        </div>    
       <% } else{ %>
        <div class="container text-center">
            <h1>No hay datos registrados</h1>
        </div>
        
      <% } %>
    </div>

    <%-include('controls/addnew.ejs');-%>


   
