body {
	background: linear-gradient(-45deg, #ffffff,#ffffff, #000000, #ffffff);
	background-size: 400% 400%;
	animation: gradient 8s ease 0.7;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}