#footer{
    padding: 30px;
    background:black;
    color:white;
}
#footer a, #footerDivider a{
    
    color:white;
    text-decoration: none;
}

#footerDivider{
    font-style: italic;
    font-weight: bold;
    color:white;   
}
#main img{
    max-height: 100vh;
    object-fit: cover;
    filter: grayscale(80%);
}
#carousel{
    position:relative;
}
#carousel .overlay{
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    color:white;
    background-color: rgba(0,0, 0, 0.6);
}
#carousel .overlay .container,
#carousel .overlay .row{
height: 100%;
}

.navbar .navbar-brand img{
    max-height: 100vh;
    object-fit: cover;
}

.navbar-nav .nav-item a{
    font-weight: bold;
}

.container a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
#news .card{
    transform: scale(1.0);
    transition: 0.4s;
    z-index: 2147483646;
}
#news .card:hover{
    transform: scale(1.3);
    transition: 0.4s;
    z-index: 2147483647;
}



#newest .card{
  transform: scale(1.0);
  transition: 0.4s;
  z-index: 2147483646;
}
#newest .card:hover{
  transform: scale(1.3);
  transition: 0.4s;
  z-index: 2147483647;
}



#news .btn:hover{

    transform: scale(1.1);
    transition: 0.2s;
}
#news .btn{
  transform: scale(1.0);
    transition: 0.2s;
}
.navbar{
  z-index: 2147483648;
}



#subtitulo:hover{
    transform: scale(1.1);
    transition: 0.4s;
}

.slide-right {
    width: 100%;
    overflow: hidden;
    max-width: 500px
  }
  
  .slide-right h4 {
    animation: 3s slide-right 1s forwards;
      transform:translateX(-100%);
  }
  .slide-right h1 {
    animation: 3s slide-right 1s forwards;
      transform:translateX(-100%);
  }
  .slide-right p {
    animation: 3s slide-right 1s forwards;
      transform:translateX(-100%);
  }

  @keyframes slide-right {
    to {
      transform:translateX(0);
    }
  }
  #vamos:hover{
    transform: scale(1.3);
    transition: 0.4s;
    z-index: 2147483647;
  }
.modal{
  z-index: 2147483647;
}
/*FORM FOCUS HOOVER*/
.form-control{
  transform:scale(1.0);
  transition: 0.4s;
}
.form-control:focus{
  transform:scale(1.1);
  transition: 0.4s;
}
/*FORM FOCUS HOOVER*/
@keyframes ZoomInOut {
  0% {
    transform:scale(2.0);
    opacity: 0;
  }
  100% {
    transform:scale(1.0);
    opacity: 1;
  }
}
#carousel img{  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 3s ease-out 0s 1 ZoomInOut;
}
#subtitulo {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 ZoomInOut;
  
}
#discover {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 2s ease-out 0s 1 ZoomInOut;
  
}

html{
  scroll-behavior: smooth;
}

@keyframes left-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes right-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#forumwelcome{
  animation: 1s ease-out 0s 1 left-right;
}
@keyframes ZIOTitles {
  0% {
    transform:scale(0);
    opacity: 0;
  }
  100% {
    transform:scale(1.0);
    opacity: 1;
  }
}
@keyframes ZIOCards {
  0% {
    transform:scale(0);
    opacity: 0;
  }
  100% {   
    transform:scale(1.0);
    opacity: 1;
  }
}
/*animatios for scroll in about us title*/
#aboutus h1[data-scroll="in"]{
  animation: 2s ease-out 0s 1 left-right;
}
/*animatios for scroll in about us card*/
#aboutus .card[data-scroll="in"]{
  animation: 2s ease-out 0s 1 ZIOCards;
}
/*animatios for scroll in mision title*/
#mision h1[data-scroll="in"]{
  animation: 2s ease-out 0s 1 right-left;
}
/*animatios for scroll in mision cards*/
#mision .card[data-scroll="in"]{
  animation: 2s ease-out 0s 1 ZIOCards;
 
}
#vision h1[data-scroll="in"]{
  animation: 2s ease-out 0s 1 left-right;
}
#vision .card[data-scroll="in"]{
  animation: 2s ease-out 0s 1 ZIOCards;

}


@keyframes down-up {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#back [data-scroll="in"]{
  animation: 1s ease-out 0s 1 down-up;
}
/*index cards hoovers*/
#aboutus .card{
  transform: scale(1.0);
  transition: 0.4s;
  z-index: 2147483646;
}
#aboutus .card:hover{
  transform: scale(1.2);
  transition: 0.4s;
  z-index: 2147483647;
}
#mision .card{
  transform: scale(1.0);
  transition: 0.4s;
  z-index: 2147483646;
}
#mision .card:hover{
  transform: scale(1.2);
  transition: 0.4s;
  z-index: 2147483647;
}
#vision .card{
  transform: scale(1.0);
  transition: 0.4s;
  z-index: 2147483646;
}
#vision .card:hover{
  transform: scale(1.2);
  transition: 0.4s;
  z-index: 2147483647;
}








