<div class="container-fluid">
    <div id="addnew" class="modal fade modal-fullscreen-sm-down" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title justify-content-center">Publicar Nueva Noticia</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
             <!-- <a href="/news" class="close" >
                <span aria-hidden="true">&times;</span>
            </a>-->
            </div>
            <div class="modal-body">
                <form action="/addnew"  method="POST">
                    <div class="form-group">
                        <input id="titulo" type="text"  name="titulo" placeholder="Titulo" class="form-control" min="0" required >
                    </div>
                    <label for="contenido">Contenido</label>
                    <div class="form-group">
                      <textarea name="contenido" id="contenido" cols="30" class="form-control" rows="10"></textarea>
                    </div>

                    <div class="form-group">
                        <input id="imagen" type="text"  name="imagen" placeholder="URL de la Imagen" class="form-control" min="0" required >
                    </div>
                    <div class="form-group">
                        <input id="fuente" type="text"  name="fuente" placeholder="Fuente" class="form-control" min="0" required >
                    </div>
                    <label for="Color">Color del Card</label>
                    <div class="form-group">                
                            <select name="color" value="bg-primary text-white" placeholder="Color" class="form-control" required>
                                <option value="bg-primary text-white">Azul</option>
                                <option value="bg-dark text-white">Negro</option>
                                <option value="bg-danger text-white">Rojo</option>
                              </select> 
                    </div> 
                    <label for="btncolor">Color del boton</label>
                    <div class="form-group">                
                            <select name="btncolor" value="btn-primary text-white" placeholder="Color boton" class="form-control" required>
                                <option value="btn-primary ">Azul</option>
                                <option value="btn-dark">Negro</option>
                                <option value="btn-danger">Rojo</option>
                                <option value="btn-warning">Amarillo</option>
                              </select> 
                    </div> 
                    <button class="btn btn-outline-danger btn-block" type="submit"> <strong>Publicar</strong></button>
                    <button type="button" class="btn mt-2 btn-block btn-outline-danger" data-dismiss="modal">Cancelar</button>
                  </form>
            </div>
            </div>
          </div>
        </div>
      </div>
</div>