<div class="container-fluid">
    <div id="adduser" class="modal fade modal-fullscreen-sm-down" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title justify-content-center">Registrar Nuevo Usuario</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <!--<a href="/users" class="close" >
                <span aria-hidden="true">&times;</span>
            </a>-->
            </div>
            <div class="modal-body">
                <form action="/adduser"  method="POST">
                    <div class="form-group">
                        <input id="nombre" type="text" name="nombre" placeholder="Nombre Completo" class="form-control" min="0" required>
                    </div>
                    <div class="form-group">
                        <input id="email" type="text"  name="correoE" placeholder="Correo Electronico" class="form-control" min="0" required >
                    </div>
                    <div class="form-group">
                        <input id="contraseña" type="password"  name="contra" placeholder="Contraseña" class="form-control" min="5"  required>
                    </div>
                    <div class="form-group">
                      <input id="confirmar" type="password"  name="confirmar" placeholder="Confirmar" class="form-control" min="5"  required>
                  </div>
                    <label for="rol">Rol del Usuario</label>
                    <div class="form-group">                
                            <select id="rol" name="rol" value="Reportero" placeholder="Rol" class="form-control" required>                             
                                <option value="Reportero">Reportero</option>
                                <option value="Administrador">Administrador</option>
                              </select> 
                    </div>   
                    <button id="saveuser"  class="btn btn-outline-danger btn-block" type="submit"> <strong>Registrar Usuario</strong></button>
                    <button type="button" class="btn mt-2 btn-block btn-outline-danger" data-dismiss="modal">Cancelar</button>
                  </form>
            </div>
            </div>
          </div>
        </div>
      </div>
</div>
